<section class="posts">
	<% page.posts.each(function (post,i) { %>
	<article class="post">
		<header class="post_title">
			<a class="post_title_link" href="<%- url_for(post.path) %>"><%= post.title %></a>
		</header>
		<div class="post_meta">
			<% let ndate = new Date(date(post.date).replace(/-/g,'/')); %>
			<% let chinaDate = ndate.toDateString(); %>
			<% let chinaDateArray = chinaDate.split(' '); %>
			<time class="post_time"><%- `${chinaDateArray[1]} ${chinaDateArray[2]} ${chinaDateArray[3]}` %></time>
		</div>
		<div class="post_content"><%- post.excerpt %></div>
	</article>
		<% if((i+1)%config.per_page !=0) { %>
			<div class="link"></div>
		<% } %>
	<% }) %>
</section>
<%- partial("mainpager.ejs")  %>
