<!DOCTYPE html>
<html lang="<%= config.language %>">
	<head>
		<%- partial('common/head.ejs') %>
	</head>
	<body>
		<%- partial('common/header.ejs') %>
		<div class="link-top"></div>
		<%- partial('common/body.ejs') %>
		<%- partial('common/footer.ejs') %>
	</body>
</html>
