<!DOCTYPE html>
<html lang="<%= config.language %>">
	<head>
		<%- partial('common/head.ejs') %>
	</head>
	<body>
		<header><%- partial('common/header.ejs') %></header>
		<div class="link-top"></div>
		<div class="main-body"><%- partial('common/body.ejs') %></div>
		<footer><%- partial('common/footer.ejs') %></footer>
	</body>
</html>
