<!DOCTYPE html>
<html lang="<%= config.language %>">
		<%- partial('common/head.ejs') %>
	<body>
		<%- partial('common/header.ejs') %>
		<%- partial('common/mainbody.ejs') %>
		<%- partial('common/footer.ejs') %>
		<%- partial('common/backtotop.ejs') %>
	</body>
	<%- partial('common/afterfooter.ejs') %>
</html>
