<!DOCTYPE html>
<html lang="<%= config.language %>">
		<%- partial('_partial/head.ejs') %>
	<body>
		<%- partial('_partial/header.ejs') %>
		<%- partial('_partial/mainbody.ejs') %>
		<%- partial('_partial/footer.ejs') %>
		<%- partial('_partial/backtotop.ejs') %>
	</body>
	<%- partial('_partial/afterfooter.ejs') %>
</html>
