<!-- 文件头 引入css JS -->
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= config.title %></title>
	<link rel="Bookmark" type="image/x-icon" href="<%- url_for(theme.favicon) %>" />
	<link rel="icon" type="image/x-icon" href="<%- url_for(theme.favicon) %>" />
	<link
		rel="shortcut icon"
		type="image/x-icon"
		href="<%- url_for(theme.favicon) %>"
	/>
	<%- css("css/style.css")  %> 
	<%- js("js/jquery-3.6.1.min.js") %>
	<%- js("js/theme.js") %>
</head>

